#headerContent {
  grid-row: 1 / 2;

  header {
    display: grid;
    grid-column-end: span 12;
    grid-row-gap: var(--gap);
    padding: calc(var(--gap) * 2) 0;
    grid-template-areas: 
      'logo'
      'menu';
    z-index: 3;

    .logo {
      grid-area: logo;
      svg {
        width: 150px;
        .primary-color {
          fill: var(--color-primary);
        }
        .secondary-color {
          fill: var(--color-secondary);
        }
      }
    }
  }

  .main-menu {
    grid-area: menu;
    grid-column-end: span 9;
    align-items: center;
    display: grid;
    justify-content: start;

    ul li:last-child {
      display: none;
    }
  }
}


/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  #headerContent {
    header {
      .logo {
        svg {
          width: 100px;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  #headerContent {
    header {
      grid-template-areas: 
      'logo menu';
    }
    .main-menu {
      justify-content: end;
      ul li {
        &:not(:last-child) {
          display: none;
        }
        &:last-child {
          display: grid;
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
}