#headerContent {
  pointer-events: none;
}

header {
  grid-column-end: span 12;
  display: grid;
  grid-row-gap: var(--gap);
  padding: calc(var(--gap) * 2) 0;
  z-index: 3;

  .logo {
    svg {
      width: 150px;
      .primary-color {
        fill: var(--color-primary);
      }
      .secondary-color {
        fill: var(--color-secondary);
      }
    }
  }

  .main-menu {
    grid-column-end: span 9;
    align-items: center;
    display: grid;
    justify-content: start;

    ul li:last-child {
      display: none;
    }

  }
}

@media (max-width: 1800px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1023px) {
  header {
    .main-menu {
      ul li{
        &:last-child {
          display: grid;
        }
        &:not(:last-child) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
  
}