:root {

  /*! = gap
  -------------------------------------------------------------- */
  --gap: 1.25rem;


  /*! = typography
  -------------------------------------------------------------- */
  --font-regular:   300;
  --font-semi-bold: 600;
  --font-bold:      800;
  --font-primary:   'Montserrat', sans-serif;


  /*! = theme color
  -------------------------------------------------------------- */
  --color-primary:  #001C28;
  --color-secondary:#93F900;
  --color-light:    #ffffff;
  --color-dark:     #282828;

  /*! = vsouz color
  -------------------------------------------------------------- */
  --vsouz-color-primary:  rgba(217, 190, 174, 1);
  --vsouz-color-secondary:rgba(212, 211, 211, 1);
  --vsouz-color-dark:     rgba(212, 211, 211, 1);

  /*! = carpettech color
  -------------------------------------------------------------- */
  --carpettech-color-primary:   rgba(44, 184, 119, 1);
  --carpettech-color-secondary: rgba(212, 211, 211, 0.548);
  --carpettech-color-dark:      rgba(0, 0, 0, 0.548);

   /*! = dreamsweetdream color
  -------------------------------------------------------------- */
  --dreamsweetdream-color-secondary:rgba(133,72,179, 1);
  --dreamsweetdream-color-primary:  rgba(161,121,187, 1);
  --dreamsweetdream-color-dark:     rgba(89,89,91, 1);

  /*! = zmc color
  -------------------------------------------------------------- */
  --zmc-color-secondary:rgba(244,67,54, 1);
  --zmc-color-primary:  rgba(0,0,0, .8);

  /*! = antenna color
  -------------------------------------------------------------- */
  --antenna-color-secondary:rgba(241,98,97, 1);
  --antenna-color-dark:     rgba(0,0,0,1);
  --antenna-color-primary:  rgba(255,255,255,1);

  /*! = contact color
  -------------------------------------------------------------- */
  --contact-color-secondary:var(--color-secondary);
  --contact-color-primary:  var(--color-light);
  --contact-color-dark:     var(--color-primary);

  /*! = break points
  -------------------------------------------------------------- */
  --app-width: minmax(auto, 6rem);

}

/*! = vsouz class
-------------------------------------------------------------- */
.vsouz {
  --color-primary:   var(--vsouz-color-primary);
  --color-secondary: var(--vsouz-color-secondary);
  --color-dark:      var(--vsouz-color-dark);
}

/*! = carpettech class
-------------------------------------------------------------- */
.carpettech {
  --color-primary:   var(--carpettech-color-primary);
  --color-secondary: var(--carpettech-color-secondary);
  --color-dark:      var(--carpettech-color-dark);
}

/*! = dreamsweetdream class
-------------------------------------------------------------- */
.dreamsweetdream {
  --color-primary:   var(--dreamsweetdream-color-primary);
  --color-secondary: var(--dreamsweetdream-color-secondary);
  --color-dark:      var(--dreamsweetdream-color-secondary);
}

/*! = zmc class
-------------------------------------------------------------- */
.zmc {
  --color-primary:   var(--zmc-color-primary);
  --color-secondary: var(--zmc-color-secondary);
  --color-dark:      var(--zmc-color-secondary);
}

/*! = antenna class
-------------------------------------------------------------- */
.antenna {
  --color-primary:   var(--antenna-color-primary);
  --color-secondary: var(--antenna-color-secondary);
  --color-dark:      var(--antenna-color-dark);
}

/*! = contact class
-------------------------------------------------------------- */
.contact {
  --color-primary:   var(--contact-color-primary);
  --color-secondary: var(--contact-color-secondary);
  --color-dark:      var(--contact-color-dark);
}

/*! = break points
-------------------------------------------------------------- 
* 10px		0.625rem
**/
@media (max-width: 600px) {
  :root {
    --gap: .625rem;
  }
}