/*! = <nav>
-------------------------------------------------------------- */
nav ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-start; }
  nav ul li:not(:first-child) {
    margin-left: var(--gap); }
  nav ul li a {
    color: var(--color-primary); }

/*! = <nav class="main-menu">
-------------------------------------------------------------- */
