.loading-bar {
  border-radius: var(--gap);
  background-color: var(--color-primary);
  height: calc(var(--gap) * 1.5);
  position: relative;
  widows: 100%;

  &:before {
    content: '';
    background-color: var(--color-secondary);
    border-radius: var(--gap);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: inherit;
    position: absolute;
    width: 40%;
  }

}

@media (max-width: 600px) {
  .loading-bar {
    height: calc(var(--gap) * 2);
  }
}