.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  height: 100vh; }

.main-container > * {
  grid-column: 1 / 2; }

.main-container-pages {
  display: grid; }

.main-container-pages > div {
  grid-column: 1 / 2; }

.main-container-pages > div:first-child {
  grid-row: 1 / 2;
  z-index: 2;
  grid-auto-rows: max-content; }

.main-container-pages > div:nth-child(2) {
  grid-row: 1 / 2;
  z-index: 1;
  height: 90vh;
  min-height: 90vh; }

.wrapper-full {
  align-self: self-start;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(14, 1fr); }
  .wrapper-full > .inner {
    display: grid;
    grid-column: 2 / 14;
    grid-gap: var(--gap);
    grid-template-columns: repeat(12, 1fr); }

.wrapper {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: minmax(15px, auto) repeat(12, var(--app-width)) minmax(15px, auto); }
  .wrapper > .inner {
    display: grid;
    grid-column: 2 / 14;
    grid-gap: var(--gap);
    grid-template-columns: repeat(12, 1fr); }

*.bg-primary {
  background: var(--color-primary); }

*.bg-secondary {
  background: var(--color-secondary); }

.overlay {
  position: relative; }

.overlay::before {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5) url("../../images/overlay.svg");
  background-size: 2px 2px;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: .2; }

.overlay * {
  z-index: 2; }

svg .overlay-circle {
  fill: var(--color-primary); }
