body.contact .bg-hero-image {
  background: var(--color-dark);
  background-size: cover;
  grid-row: 1 / 2;
  height: 100vh; }
  body.contact .bg-hero-image .section-main {
    display: grid;
    grid-column-end: span 12;
    grid-gap: calc(var(--gap) * 2);
    align-self: stretch;
    grid-template-areas: 'address contact-form'; }
    body.contact .bg-hero-image .section-main h1 {
      background-color: var(--color-primary);
      color: var(--color-dark);
      padding: calc(var(--gap) / 5) calc(var(--gap) / 2);
      width: max-content; }
    body.contact .bg-hero-image .section-main h3 {
      background-color: var(--color-secondary);
      color: var(--color-light);
      padding: calc(var(--gap) / 5) calc(var(--gap) / 2);
      width: max-content; }
    body.contact .bg-hero-image .section-main .contact-form {
      align-content: center;
      display: grid;
      grid-area: contact-form; }
    body.contact .bg-hero-image .section-main .address {
      align-content: end;
      display: grid;
      grid-area: address; }

/**
 *  INDIVIDUAL STYLE
 */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  width: 100%;
  vertical-align: top; }

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__button {
  position: relative;
  display: block;
  background-color: var(--color-primary);
  color: var(--color-dark);
  padding: calc(var(--gap) / 5) calc(var(--gap) / 2);
  font-size: 4rem;
  font-weight: var(--font-bold);
  float: right;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-secondary);
  cursor: pointer; }

.input__button.success {
  background-color: #93F900;
  color: white;
  border-color: #93F900; }

.input__button.error {
  background-color: #f44336;
  color: white;
  border-color: #f44336; }

.input__button.sending {
  animation: scale .5s infinite; }

@keyframes scale {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.9); } }

.input__field:focus {
  outline: none; }

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-touch-callout: none;
  user-select: none; }

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%; }

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none; }

.icon {
  color: #ddd;
  font-size: 150%; }

/* FINISH INDIVIDUAL STYLE */
/* Nao */
.input--nao {
  overflow: hidden;
  padding-top: 1.5em; }

.input__field--nao {
  width: 100%;
  background: transparent;
  color: #9da8b2;
  font-size: 1.25em; }

.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 0.85em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.graphic--nao {
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1); }

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.55, 0.55, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.55, 0.55, 1); }

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0); }

@media (max-width: 600px) {
  body.contact .bg-hero-image .section-main {
    margin-top: 100px;
    grid-template-areas: "address" "contact-form"; }
  /**
 *  INDIVIDUAL STYLE
 */
  .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    width: 100%;
    vertical-align: top; } }

/*
	---------------------------------------------------
	RESPONSE ELEMENTS
	---------------------------------------------------
*/
.error > input {
  border-color: #B15252; }

.error:after {
  content: 'Invalid value';
  display: inline-block;
  padding: 3px 7px;
  color: #fff;
  background: #F35959;
  border-radius: 2px;
  position: relative;
  float: right;
  margin-top: 9px;
  margin-left: -100px;
  -webkit-animation: fadein .6s ease-in-out;
  animation: fadein .6s ease-in-out; }

/*
	---------------------------------------------------
	FORM CONTAINER
	---------------------------------------------------
*/
.container {
  width: 100%;
  max-width: 570px;
  margin: 40px auto;
  position: relative; }

.input-container {
  text-align: center; }

p.description {
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  line-height: 1.3em;
  margin: 40px 0;
  color: #727272; }

/*
	---------------------------------------------------
	MAIL FORM CONTAINER
	---------------------------------------------------
*/
.mail-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  display: none;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d; }

.mail-container.hover .mail-content {
  transform: rotateY(180deg); }

.mail-back {
  display: none; }

.mail-container, .mail-front, .mail-back {
  width: 100%; }

.mail-content {
  transition: 0.6s;
  /* change the flip speed */
  transform-style: preserve-3d;
  position: relative;
  margin-bottom: 30px;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d; }

.mail-front, .mail-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0; }

.mail-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg); }

.mail-back {
  transform: rotateY(180deg);
  text-align: center; }

/*
	---------------------------------------------------
	MAIL CONTENT
	---------------------------------------------------
*/
.mail-back .fa {
  margin: 25px 0;
  color: #CA5353; }

p.thanks-title {
  font-size: 35px;
  font-weight: 200;
  color: #B15252;
  margin: 0;
  text-shadow: 0 1px 1px #fff; }

p.thanks-msg {
  margin: 0 0 40px; }

.reload {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  padding: 4px 5px;
  border-radius: 2px; }

.reload:hover {
  color: #fff;
  background: #B15252; }

.mail-body {
  padding: 20px;
  margin-bottom: 5px; }

.mail-body .input-container {
  margin-bottom: 20px; }

/*
	---------------------------------------------------
	LOADING PANEL
	---------------------------------------------------
*/
.loading {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  z-index: 9999;
  color: #fff; }

.loading > p {
  font-size: 30px;
  font-weight: 200; }

.loading > div {
  background-color: #fff;
  height: 30px;
  width: 3px;
  margin-top: 215px;
  display: inline-block; }

/*
	---------------------------------------------------
	ANIMATIONS
	---------------------------------------------------
*/
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.loading > div {
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.loading .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.loading .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.loading .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.loading .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
